*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6, body {
	margin: 0;
}
p {
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none; /*маркировка списка*/
}

.img {
	display: block;
	max-width: 100%;
	height: auto;
}
html {
  height: 100%;
}
.wrapper {
  min-height: 100vh;
  display:grid;
  grid-template-areas: 
  "h h"
  "n c"
  "f f";
  grid-template-rows:auto 1fr auto;
  grid-template-columns: 2fr 10fr;
 
}
.header {
  grid-area: h;
  
  background-color: #ccc;
}
.header__logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.nav {
  grid-area: n;
  background-color: rgb(127, 211, 112);
}
.content {
  grid-area: c;
  background-color: rgb(238, 49, 49);
}
.content__img {
  object-fit: cover;
 
  height: 150px;
  width: 100%;
}
.content__user {
  display: flex;
  
}
.content__user-photo {
  width: 100px;
  height: 100px;
}

.footer {
  grid-area: f;
  text-align: center;
  padding: 20px;
  background-color: rgb(61, 39, 39)
}